<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuroneko.cqbot.mapper.TkfTaskMapper">

    <resultMap id="BaseResultMap" type="com.kuroneko.cqbot.entity.TkfTask">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sName" column="s_name" jdbcType="VARCHAR"/>
            <result property="minLevel" column="min_level" jdbcType="INTEGER"/>
            <result property="isKappa" column="is_kappa" jdbcType="TINYINT"/>
            <result property="isLightkeeper" column="is_lightkeeper" jdbcType="TINYINT"/>
            <result property="traderName" column="trader_name" jdbcType="VARCHAR"/>
            <result property="traderImg" column="trader_img" jdbcType="VARCHAR"/>
            <result property="taskImg" column="task_img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,s_name,
        min_level,is_kappa,is_lightkeeper,
        trader_name,trader_img,task_img
    </sql>
</mapper>
